opyrator
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0.tar.gz
st-annotated-text
setuptools>=70.0.0 # not directly required, pinned by Snyk to avoid a vulnerability
starlette>=0.49.1 # not directly required, pinned by Snyk to avoid a vulnerability
